@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: hsl(var(--primary));
    --primary-foreground: hsl(var(--primary-foreground));
    --color-accent: hsl(var(--accent));
    --color-muted: hsl(var(--muted));
    --color-foreground: hsl(var(--foreground));
    --color-background: hsl(var(--background));
    --animate-bounceTwice: bounceTwice 1s ease-in-out;
    --animate-slideout: slideout 0.3s ease-in-out;
}

@keyframes bounceTwice {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1); /* fall fast */
  }

  40% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1); /* bounce up */
  }

  65% {
    transform: translateY(-20%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1); /* small bounce */
  }

  80% {
    transform: translateY(-5);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

 @keyframes slideout {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
 }
}

@layer base {
    :root {
        --background: 208 0% 92%;
        --foreground: 180 100% 3%;
        --primary: 180 100% 90%;
        --primary-foreground: 180 100% 14%;
        --accent: 180 100% 46%;
        --muted: 0 0% 67%;
    }

    .dark {
        --background: 180 100% 3%;
        --foreground: 208 0% 92%;
        --primary: 180 100% 90%;
        --primary-foreground: 180 100% 14%;
        --accent: 180 100% 46%;
        --muted: 0 0% 67%;
    }

    p {
        font-family: 'Ubuntu Sans', sans-serif;
        @apply text-base sm:text-lg md:text-xl font-normal;
    }

    h1 {
        font-family: 'Ubuntu Sans', sans-serif;
        @apply text-3xl sm:text-4xl md:text-5xl font-bold leading-tight tracking-tight;
    }

    h2 {
        font-family: 'Ubuntu Condensed', sans-serif;
        @apply text-2xl sm:text-3xl md:text-4xl font-semibold leading-snug tracking-tight;
    }

    h3 {
        font-family: 'Ubuntu Sans', sans-serif;
        @apply text-xl sm:text-2xl md:text-3xl font-semibold leading-normal;
    }

    *,
    ::before,
    ::after {
        @apply box-border;
        font-family: 'Ubuntu Sans', sans-serif;
    }

    html {
        @apply text-[hsl(var(--foreground))] bg-[hsl(var(--background))];
        @apply scroll-smooth;
    }

    body {
        font-family: 'Ubuntu Sans', sans-serif;
        @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
    }
}

#root {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
@utility btn {
  @apply px-4 py-2 rounded-lg font-medium bg-[hsl(var(--primary))] text-[hsl(var(--primary-foreground))] hover:bg-[hsl(var(--accent))] transition;
}

@utility link {
  @apply text-[hsl(var(--accent))] hover:underline;
}

@utility condensed {
    fontfamily: 'Ubuntu Condensed', sans-serif;
    font-weight: 500;
    @apply tracking-tighter
}